* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .container{
    max-width: 1240px;
    margin: auto;
} */
header {
  background-color: rgb(1, 17, 27);
  padding: 5px 50px;
  /* height: 60px; */
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li a {
  text-decoration: none;
  color: white;
}
header ul li a:hover {
  color: lime;
  transition: all 0.4s;
}
header img {
  width: 60px;
  border-radius: 50%;
}
li {
  list-style: none;
}
.selected{
  font-size: 18px;
  font-weight: 600;
}
.first {
  padding: 30px 40px;
  background-color: aquamarine;
}
.first ul {
  margin-top: 30px;
}
.first ul li {
  margin: 14px 0;
}
.first ul li a {
  color: black;
}
.first ul li a:hover {
  color: rgb(194, 7, 194);
  transition: all 0.4s;
}
.first ul li p {
  margin-top: 15px;
}
.first img {
  width: 120px;
  margin-top: 10px;
}
footer {
  background-color: rgb(1, 17, 27);
  padding: 20px 50px;
  color: white;
}
.main {
  display: flex;
}
.second {
  padding: 20px 45px;
}

.index h1 {
  font-size: 30px;
  color: rgb(5, 5, 63);
}

.index ul li h2 {
  color: rgb(5, 5, 63);
  margin-top: 20px;
}
.index ul li h3 {
  color: rgb(5, 5, 63);
  margin-top: 10px;
}
.index ul li p {
  color: rgb(92, 92, 121);
  margin: 10px 0;
  line-height: 1.5;
}
.last button {
  border: 1px solid black;
  background-color: rgb(160, 221, 245);
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.last button a{
  color: aliceblue;
  height: 20px;
}
.last button:hover {
  transition: all 0.4s;
  background-color: lime;
  color: wheat;
}
.last button a:hover {
  color: aliceblue;
}
.article-panel{
  background-color: black;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}
.article-panel p{
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
}
.text{
  width: 100%;
  display: flex;
justify-content: space-between;
}
.student{
  margin-top: 20px;
}
.student p{
  margin: 8px 0;
  font-weight: 600;
  font-size: 16px;
  color: rgb(107, 14, 14);
}

.first ul .share {
  margin-top: 40px;
}

.about p{
  color: rgb(92, 92, 121);
  margin: 10px 0;
  line-height: 1.5;
}
.about h1 {
  font-size: 30px;
  color: rgb(5, 5, 63);
}
.about img {
 width: 100%;
}