{% extends 'students/base.html' %} {% block content %} {% load static %}
<div class="about">
  <h1 style="margin: 20px 430px;">Bizim haqqımızda</h1>

  <!-- <h2>Xoş gəldiniz!</h2> -->

  <div style="display: flex; justify-content: space-around; margin-top: 80px;">
    <div style="width: 450px;">
      <img src="https://d3e6tmgg461bic.cloudfront.net/Pictures/2000xAny/1/7/4/3049174_hospitalbuilding3x2_682628.jpg"
        alt="" style="width: 100%; border-radius: 10%;">
      <p style="font-size: 19px; line-height: 21px;">OnMed 2008 yaradılmışdır və keyfiyyətli səhiyyə xidmətləri
        göstərmək
        missiyası ilə
        başlamış
        bir səhiyyə müəssisəsidir. Təşkilatımız mütəxəssis heyəti, müasir tibbi avadanlıqları və pasiyent yönümlü xidmət
        yanaşması ilə bölgə əhalisinə ən yaxşı səhiyyə xidmətini təqdim etməyi qarşısına məqsəd qoyub.
      </p>
    </div>

    <div style="width: 450px; margin-top: 200px;">
      <img
        src="https://images.pexels.com/photos/305568/pexels-photo-305568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="" style="width: 100%; border-radius: 10%;">
      <h3>Bizim missiyamız</h3>
      <p style="font-size: 19px; line-height: 21px;">
        Missiyamız cəmiyyətimizin sağlamlığını və rifahını yaxşılaşdırmaq və xəstə mərkəzli qayğı yanaşması ilə fərdlərə
        keyfiyyətli və əlçatan səhiyyə xidmətləri göstərməkdir. Güclü etik dəyərlərimiz və mütəxəssis heyətimizlə
        xəstələrimizin sağlam həyat sürməsinə töhfə verməyi hədəfləyirik.</p>
    </div>
  </div>



  <div style="display: flex; justify-content: space-around; margin-top: 80px;">
    <div style="width: 450px;">
      <img
        src="https://images.pexels.com/photos/668300/pexels-photo-668300.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="" style="width: 100%; border-radius: 10%;">
      <h3>Bizim baxışımız</h3>
      <p style="font-size: 19px; line-height: 21px;">
        Vizyonumuz daim inkişaf edən tibbi texnologiya və biliyə əsaslanaraq, xəstə məmnuniyyətini maksimuma çatdırmaq
        və
        ictimai sağlamlığı dəstəkləməkdir. Ən son texnologiya ilə təchiz olunmuş müəssisəmizdə mütəxəssis səhiyyə
        mütəxəssislərimizlə birlikdə hər bir pasiyentimizə fərdi müalicə və qayğı təklif etməyi hədəfləyirik.
      </p>
    </div>

    <div style="width: 450px; margin-top: 200px;">
      <img
        src="https://images.pexels.com/photos/3786126/pexels-photo-3786126.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="" style="width: 100%; border-radius: 10%;">
      <h3>Bizim dəyərlərimiz</h3>
      <p style="font-size: 19px; line-height: 21px;">
        Xəstə Fokus: Hər bir xəstə fərdi ehtiyaclarına uyğun olaraq qiymətləndirilir və müalicə olunur.
        Etik Prinsiplər: Biz işimizi etik dəyərlərə uyğun aparırıq və xəstə məxfiliyinə hörmət edirik.
        Keyfiyyət: Biz xidmətlərimizi ən yüksək standartlarda təmin etməklə davamlı təkmilləşdirməyi hədəfləyirik.
        Əməkdaşlıq: Biz birlikdə işləmək və paylaşma mədəniyyəti ilə səhiyyə komandamız arasında effektiv ünsiyyəti
        təşviq
        edirik.</p>
    </div>
  </div>


  <h3 style="font-size: 21px; margin-top: 40px; color: green;">2008ci ildə yaradılmış OnMed sizə sağlam və xoşbəxt həyat təklif etmək üçün buradadır. Bizə
    güvəndiyiniz üçün təşəkkür edirik!</h3>


</div>
{% endblock %}