{% extends 'students/base.html' %} {% block content %}
<h1 style="margin: 20px 430px;">Blog Səhifəsi</h1>
<img src="https://www.savadly.com/frontend/web/uploads//images/blog/online-saglam-heyat.jpg" alt="">
<h3 style="font-size: 20px;">Başlıq: "Sağlam həyat üçün 5 əsas məsləhət"</h3>
<p style="font-size: 18px;">
    Salam əziz oxucular,

    Sağlamlıq həyatımızın ən qiymətli sərvətlərindən biridir. Ancaq sağlam həyat sürmək üçün diqqət etməli olduğumuz bir
    çox
    amillər var. Bugünkü məqaləmizdə sağlam həyat üçün əsas məsləhətlər haqqında danışacağıq.

    Balanslaşdırılmış pəhriz:
    Sağlam həyatın təməl daşlarından biri balanslaşdırılmış qidalanmadır. Təzə tərəvəzlər, meyvələr, tam taxıllar və
    zülal
    qaynaqlarını gündəlik rasionumuza daxil etmək bədənimizin ehtiyac duyduğu qidaları almağa kömək edir.

    Daimi məşq:
    Fiziki fəaliyyət sağlamlığımıza müsbət təsir edən başqa bir amildir. Həftədə ən azı bir neçə gün müntəzəm məşq ürək
    sağlamlığını gücləndirə, enerji səviyyələrini artıra və stresin öhdəsindən gəlməyə kömək edə bilər.

    Stressdən qaçınmaq:
    Stress bir çox sağlamlıq problemlərinə səbəb ola bilər. Gündəlik həyatın çətinliklərinin öhdəsindən gəlmək üçün
    streslə
    mübarizə üsullarını öyrənmək vacibdir. Yoqa, meditasiya və dərin nəfəs kimi üsullar stresslə mübarizədə təsirli ola
    bilər.

    Daimi yoxlamalar:
    Sağlamlığımızı izləmək və mümkün problemləri erkən mərhələdə aşkar etmək üçün mütəmadi sağlamlıq yoxlamalarına
    diqqət
    yetirmək vacibdir. Müntəzəm müayinələr ciddi sağlamlıq problemlərini erkən aşkar etməyə kömək edə bilər.

    Yuxu rejimi:
    Kifayət qədər və nizamlı yuxu sağlam həyat üçün vacibdir. Bədənin sağalması və yenidən enerji alması üçün yuxu
    lazımdır.
    Hər gecə kifayət qədər yatdığınızdan əmin olmaq ümumi sağlamlığınızı dəstəkləyə bilər.

    Sağlam bir həyat sürmək üçün bu əsas tövsiyələrə diqqət yetirmək həm fiziki, həm də ruhi sağlamlığımızı gücləndirə
    bilər. Unutmayın, sağlamlıq bizim ən böyük sərvətimizdir. Sağlam günlər arzulayırıq!
</p>
{% endblock %}