{% extends 'students/base.html' %} {% block content %}
<h1 style="margin: 20px 430px;">Əlaqə məlumatlarımız</h1>

<p style="font-size: 20px;">OnMed sizə daha yaxşı xidmət etmək və suallarınıza cavab vermək üçün həmişə buradadır.
  Ünsiyyət qurmaq istədiyiniz zaman aşağıdakı məlumatlardan istifadə edib bizimlə asanlıqla əlaqə saxlaya bilərsiniz.
</p>

<ul style="margin: 20px 0; font-size: 19px;">
  <li>Ünvan:
    Baki Seher
  </li>
  <li>Telefon:
    +994 0452415512</li>
  <li> E-poçt:
    OnMed@gmail.com</li>
  <li>Görüş və məlumat üçün:
    InfoOnMed@gmailcom</li>
</ul>


<ul style="margin-bottom: 20px; font-size: 19px;">
  Sosial Mediya:
  <li>
    <p>Instagram:</p>
    <a href="https://www.instagram.com/" target="_blank"> <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1200px-Instagram_logo_2022.svg.png"
        alt="" style="width: 30px;"> </a>
  </li>
  <li>
    <p>Facebook:</p>
    <a href="https://facebook.com/" target="_blank"> <img src="https://www.facebook.com/images/fb_icon_325x325.png"
        alt="" style="width: 30px;"> </a>
  </li>
  <li>
    <p>Twitter:</p>
    <a href="https://twitter.com/" target="_blank"> <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/220px-Logo_of_Twitter.svg.png"
        alt="" style="width: 30px;"></a>
  </li>
</ul>


<ul style="font-size: 19px;">
  İş saatları:
  <li>
    Bazar ertəsi - Şənbə: 9:00-18:00
  </li>
  <li>Bazar: 10:00-16:00</li>
</ul>

{% endblock %}